files:
    "/etc/motd":
        mode: "000777"
        owner: root
        group: root
        content: |
            Check /var/app/current/.tools for some nice bash scripts!


    "/etc/update-motd.d/10eb-banner":
        mode: "000777"
        owner: root
        group: root
        content: |
            cat << EOF
            Check /var/app/current/.tools for some nice bash scripts!
            
            EOF

